body{
  margin:0;
  padding:0;
  color:#666;
  background:#FF9800;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:20px;
}
h2,h3{
  color:#fff;
  font-weight:bold;
  text-align:left;
  text-transform:uppercase;
}

#banner .container, 
main header, 
#portfolio .grid, 
#contact>div,
footer #footer-above{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-flow:row wrap;
          flex-flow:row wrap;
  -ms-flex-pack:distribute;
      justify-content:space-around;
  -webkit-box-align:start;
      -ms-flex-align:start;
          align-items:flex-start;
  margin:0 auto; 
}

.container {
	background: #FFCC80;
	margin-top: 80px;
	padding: 20px;
}

#about {
    background:#aaa;
    color:#fff;
    text-align:right;
    /*padding:70px 10% 50px;*/
    -webkit-box-align:end;
        -ms-flex-align:end;
            align-items:flex-end;
    -ms-flex-line-pack:distribute;
        align-content:space-around;
  }

#about img{
      border-radius:50%;
      margin:20px 0 20px 30px;
      max-width:80%;
      height:auto;
      width:250px;
    }

#about .intro-text{
    max-width:775px;
    text-align:center;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom:30px;
  }

#portfolio .grid{
	padding:0;
	max-width:90%;
	list-style:none; 
	margin-top:20px;
}
#portfolio .grid li{
	margin:20px;
  max-width:600px;
  }
@media(min-width:1023px){
#portfolio .grid li{
    max-width:420px
  }
    }
#portfolio img{
  
	max-width:100%;
	height:auto;
	display:block;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=email], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

#contactinfo{
	padding-top: 20px;
	padding-left: 20px;
}

footer{
  color:#fff;
  background-color:#757575;
  text-align:center;
  /*-webkit-box-shadow:0px 0px 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow:0px 0px 1px 1px rgba(0, 0, 0, 0.2);*/
}
footer h3{
    margin-bottom:30px;
    color:#fff;
  }
#footer-above{
    padding-top:20px;
    width:80%;
  }
#footer-above div{
      margin-bottom:20px;
      width:250px;
    }
#footer-above ul{
      padding:0;
    }
#footer-above li{
      display:inline;
    }
#footer-below{
    /*-webkit-box-shadow:0px 0px 1px 1px rgba(0, 0, 0, 0.2);
            box-shadow:0px 0px 1px 1px rgba(0, 0, 0, 0.2);*/
    padding:25px 0;
    background-color:#E65100;
    text-align:center;
  }
.button{
  color:#fff;
  border:solid 2px #fff;
  border-radius:50%;
  display:inline-block;
  width:50px;
  height:50px;
  text-align:center;
  font-size:20px;
  line-height:48px;
  /*-webkit-transition:all .3s ease-in-out;*/
  transition:all .3s ease-in-out;
}
.button:hover{
    border:solid 2px #fff;
    color:#E65100;
    background:#fff;
  }