/*CSS file for laoise.me - Laoise Fitzpatrick 2017*/

body{
  margin:0;
  padding:0;
  color:#666;
  background:#FF9800;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:20px;
}

h2{
  color:#fff;
  font-weight:bold;
  text-align:left;
  text-transform:uppercase;
}

/*Not really sure about this...*/
#banner .container, 
main header, 
#portfolio .grid, 
#contact>div,
footer #footer-above{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-flow:row wrap;
          flex-flow:row wrap;
  -ms-flex-pack:distribute;
      justify-content:space-around;
  -webkit-box-align:start;
      -ms-flex-align:start;
          align-items:flex-start;
  margin:0 auto; 
}

.container {
	background: #FFCC80;
	margin-top: 80px;
	padding: 20px;
}

#about {
    background:#aaa;
    color:#fff;
    text-align:right;
}

/*Picture of me in about header*/
#about img{
      border-radius:50%;
      margin:20px 0 20px 30px;
      max-width:80%;
      height:auto;
      width:250px;
}

/*Text about me*/
#about .intro-text{
    max-width:775px;
    text-align:center;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom:30px;
}

/*Styling the grid to hold portfolio pictures*/
#portfolio .grid{
	padding:0;
	max-width:90%;
	list-style:none; 
	margin-top:20px;
}

#portfolio .grid li{
	margin:20px;
  max-width:600px;
}

@media(min-width:1023px){
#portfolio .grid li{
    max-width:420px
  }
}

#portfolio img{
  
	max-width:100%;
	height:auto;
	display:block;
}

/*Contact message box*/
#message {
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/*Text next to contact info*/
#contactinfo{
	padding-top: 20px;
	padding-left: 20px;
}

/*Footer styling*/
footer{
  color:#fff;
  background-color:#757575;
  text-align:center;
  padding-bottom: 10px;
  padding-top: 10px;
}
